#footer{
    position: relative;
    bottom:0;
    text-align: center;
}
.content-box,
.time-col,
.save-content{
    background:rgb(230, 230, 230);
    border-radius: 2%;
    border:1px solid rgb(41, 41, 41);
}
.navbar-light{
    justify-content: center;
}

.time-col,
.save-content{
    text-align: center;
}
.form-control{
    background:rgb(19, 216, 52);
    border: none;
}
.content-box{
    padding-left: 0%;
    padding-right: 0%;
}
